@font-face {
    font-family: input-mono,monospace;
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: monotype-grotesque,sans-serif;
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: escrow-banner,serif;
    font-weight: 800;
    font-style: normal;
  
}
.logo{
  display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom:auto;
    max-width:98%;
}
.wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.wrapper-item {
	width: 400px;
	padding: 20px;
align-self: baseline;    
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0px;
}
.product-image img {
    border: 1px solid white;
    top: 0px;
    max-height: 800px;
    max-width: 400px;


    
}
.product-year{
    font-family: 'monotype-grotesque';
    font-weight:400;
    font-size: 30px;
    padding: 0px;
    margin: 0px;
    text-align: left;
    letter-spacing: 1px;
    
}
.product-name{
    font-family: 'escrow-banner';
    font-weight:800;
    font-size: 28px;
    padding-left: 10px;
    margin-bottom: -2px;
    text-align: left;
    text-transform: uppercase;
    
}

.product-size{
    font-family: 'input-mono';
    font-weight:400;
    font-size: 18px;
    padding: 0px;
    margin: 0px;
    text-align: left;
    
    
}
.product-medium{
    font-family: 'monotype-grotesque';
    font-weight:400;
    font-size: 16px;
    padding-left: 11px;
    
    margin: 0px;
    margin-bottom: 10px;
    text-align: left;
    text-transform: lowercase;
    
}
.product-size {
    font-family: input-mono,monospace;
    font-size: 14px;
    padding-top: 3px;
    padding-right: 5px; 
    text-align: right;
    letter-spacing: .25px;
    
}





