<!doctype html>

<html>
  <head>
    <title>Looping</title>
    <link rel="stylesheet" href="lib/style.css">
    
  </head>

  <body>
    <h1>Looping!</h1>
    <div id="app" v-cloak>
			<div v-for="(prop, key) in myDog">
				{{key}}: {{prop}}
			</div>
<!--
      <div
					class="animal-container" 
					style="border: 1px solid black; margin: 10px" 
					v-for="(critter, index) in animals">
					<div><h2>{{index}}</h2></div>
					<div>{{critter.name}}</div>
					<div>{{critter.color}}</div>
			</div>
-->
    </div>

   <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="script.js"></script>
  </body>
</html>
